<div>
    <button type="button" class="btn btn-primary add-button-position" (click)="openCreateBookModal(createBookModal)">Add New Book</button>
</div>

<div class="table-position">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books, index as i">
                <th scope="row">{{  i + 1 }}</th>
                <td> {{ book.name }}</td>
                <td>
                    <button type="button" class="btn btn-info button-spacing" (click)="openDetailBookView(viewBookDetailModal, book)">View</button>
                    <button type="button" class="btn btn-warning button-spacing" (click)="openUpdateBookDataModal(updateBookModal, book._id)" >Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="refreshBooks()"
        >
        </ngb-pagination>
    
        <select class="form-select" style="width: auto" 
            [(ngModel)]="pageSize" (ngModelChange)="refreshBooks()">
                <option [ngValue]="6"> 6 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="40">40 items per page</option>
        </select>
    </div>
</div>

<ng-template #viewBookDetailModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ selectedBook.name + " by "  +selectedBook.author.firstName + " " + selectedBook.author.lastName }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <p>Book Name : {{ selectedBook.name }}</p>
        <p>ISBN      : {{ selectedBook.isbn }} </p>
        <p>Author    : {{ selectedBook.author.firstName + " " + selectedBook.author.lastName }} </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
    </div>
</ng-template>


<ng-template #updateBookModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Book Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editBookForm">
          <div class="mb-3">
            <label for="name">Name : </label>
            <div class="input-group">
              <input id="name" formControlName="name" class="form-control" placeholder="" name="Book Name">
            </div>
          </div>

          <div class="mb-3">
            <label for="isbn">ISBN : </label>
            <div class="input-group">
              <input type = "isbn" id="isbn" class="form-control" formControlName="isbn" placeholder="" name="ISBN">
            </div>
          </div>
    
          <div class="mb-3">
            <label for="author">Author : </label>
            <div class="input-group">
              <div class="col">
                <input id="author" type="text" class="form-control"
                  [ngbTypeahead]="search"
                  [inputFormatter]="formatter"
                  [resultFormatter]="formatter"
                  [editable]='false' 
                  formControlName="author"/>
              </div>
            </div>
          </div>
    
          <div class="modal-footer">
              <button type="reset" class="btn btn-outline-dark">Clear</button>
              <button type="submit" [disabled]="editBookForm.invalid" class="btn btn-outline-dark" (click)="modal.close(editBookForm)">Update</button>
          </div>
       </form>
      </div>
</ng-template>

<ng-template #createBookModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create New Book</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createBookForm">
          <div class="mb-3">
            <label for="name">Name : </label>
            <div class="input-group">
              <input id="name" formControlName="name" class="form-control" placeholder="" name="Book Name">
            </div>
          </div>

          <div class="mb-3">
            <label for="isbn">ISBN : </label>
            <div class="input-group">
              <input type = "isbn" id="isbn" class="form-control" formControlName="isbn" placeholder="" name="ISBN">
            </div>
          </div>
    
          <div class="mb-3">
            <label for="author">Author : </label>
            <div class="input-group">
              <div class="col">
                <input id="author" type="text" class="form-control"
                  [ngbTypeahead]="search"
                  [inputFormatter]="formatter"
                  [resultFormatter]="formatter"
                  [editable]='false' 
                  formControlName="author"/>
              </div>
            </div>
          </div>
    
          <div class="modal-footer">
              <button type="reset" class="btn btn-outline-dark">Clear</button>
              <button type="submit" [disabled]="createBookForm.invalid" class="btn btn-outline-dark" (click)="modal.close(createBookForm)">Save</button>
          </div>
       </form>
      </div>
</ng-template>